<!--
  Generated template for the EventModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Nieuwe afspraak</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Titel" [(ngModel)]="event.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Start</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Einde</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Locatie" [(ngModel)]="event.locatie"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Notitie" [(ngModel)]="event.notitie"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Volledige dag?</ion-label>
      <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
    </ion-item>

  </ion-list>

  <button ion-button full icon-left (click)="save()">
    <ion-icon name="checkmark"></ion-icon> Afspraak toevoegen
  </button>

</ion-content>
