<ion-header>
  <ion-navbar>
    <ion-title>
      {{ viewTitle }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addEvent()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-buttons>
    <button ion-button full (click)="showEvents()">Bekijk afspraken</button>
  </ion-buttons>

  <calendar [eventSource]="eventSource"
           [calendarMode]="calendar.mode"
           [currentDate]="calendar.currentDate"
           (onEventSelected)="onEventSelected($event)"
           (onTitleChanged)="onViewTitleChanged($event)"
           (onTimeSelected)="onTimeSelected($event)"
           step="30"
           class="calendar">
  </calendar>

  
  
</ion-content>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>