<!--
  Generated template for the AfsprakenPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>afspraken</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <h4>Overzicht afspraken</h4><br>

  <h5>Voetbalmatch</h5>
  <p><b>Van:</b> Zondag, December 23, 2018 2:30 PM</p>
  <p><b>Tot:</b> Zondag, December 23, 2018 4:30 PM</p>
  <p><b>Locatie:</b> Brugge</p>
  <p><b>Notitie:</b> Club Brugge - Antwerp</p>
  <br>

  <h5>Barco</h5>
  <p><b>Van:</b> Donderdag, December 27, 2018 10:00 AM</p>
  <p><b>Tot:</b> Donderdag, December 27, 2018 11:00 AM</p>
  <p><b>Locatie:</b> Beneluxpark 21 Kortrijk</p>
  <p><b>Notitie:</b> Ondertekenen stage documenten</p>
  <br>
  
</ion-content>
